<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/styles.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Krenovator | Todo app</title>
  </head>
  <body>
    <div id="top-section">
      <h1 id="todo-title">TODO</h1>
    </div>

    <div id="app">
      <input
        class="userInput"
        v-model="newItem"
        @keyup.enter="addItems"
        placeholder="Create a new to-do…"
        type="text"
        autofocus
      />

      <ul>
        <li v-for="item, index in currentList">
          <!-- :checked="item.isChecked"
          value="item.todoItem" -->
          <input
            type="checkbox"
            @click="toggleChecked(item)"
            v-model="item.isChecked"
          />
          <div class="notCheckBox">
            <span
              ref="editField"
              spellcheck="false"
              contenteditable="true"
              @keydown.enter="$event.target.blur()"
              @blur="editItem(item,index)"
              :class="{ checked: item.isChecked }"
              >{{ item.todoItem }}</span
            >

            <img src="images/icon-cross.svg" @click="removeItem(item)" />
          </div>
        </li>
      </ul>

      <div class="features">
        <span class="itemCount">{{ activeList.length }} items left</span>

        <div class="filterContainer">
          <a
            class="filterOption"
            @click="currentList = todoList"
            :class="{active: currentList == todoList}"
            >All</a
          >
          <a
            class="filterOption"
            @click="currentList = activeList"
            :class="{active: currentList == activeList}"
            >Active</a
          >
          <a
            class="filterOption"
            @click="currentList = completedList"
            :class="{active: currentList == completedList}"
          >
            Completed
          </a>
        </div>

        <span class="clearAll" @click="removeAll">Clear Completed</span>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
